<div ngClass="my-5">
    <app-spinner ngClass="text-center mx-auto" [loading]="isLoading" />
    <div *ngIf="!isLoading" ngClass="row">
        <div ngClass="col-sm-12 col-md-4">
            <img 
                ngClass="w-100 mx-auto"
                [src]="detailProduct.image">
        </div>
        <div ngClass="col-sm-12 col-md-8">
            <div ngClass="my-4">
                <h1 ngClass="font-weight-bold">{{ detailProduct.title }}</h1>
                <p ngClass="m-0">Price : ${{ detailProduct.price }}</p>
                <span ngClass="badge badge-success">{{ detailProduct.category }}</span>
                <p ngClass="pt-4">{{ detailProduct.description }}</p>

                <div ngClass="d-flex">
                    <button ngClass="px-4 btn btn-success" (click)="addProduct(detailProduct)" [disabled]="status">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>