@media screen and (max-width: 480px) {    
    h1 {
        font-size:14px;
        line-height:16px;
        font-weight:bold;
    } 
}

.total {
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}