<div ngClass="row">
    <div ngClass="col-sm-12 col-md-8">
        <div *ngIf="loading" ngClass="mx-auto">
            <app-spinner />
        </div>
        <div *ngIf="listCart.length==0">
           <app-empty-item />
        </div>
        <div *ngFor="let product of listCart" ngClass="row my-4">
            <div ngClass="col-3">
               <img ngClass="w-100" [src]="product.image" >
            </div>
            <div ngClass="col-9">
               <h1 ngClass="text-bold">{{ product.title }}</h1>
               <span ngClass="">Price : ${{ product.price }}</span>
               <button ngClass="btn btn-danger float-right" (click)="deleteProduct(product)">Delete</button>
            </div>
        </div>        
    </div>
    <div ngClass="col-sm-12 col-md-4">
        <div ngClass="total">
            <h2 ngClass="font-weight-bold">Total Price</h2>
            <p ngClass="">Total Item : {{ listCart.length }}</p>
            <p ngClass="">Price Total : ${{ totalPrice }}</p>
            <button ngClass="btn w-100 bg-pink text-white py-2 font-weight-bold" (click)="makePayment(totalPrice)">Pay {{ totalPrice }}</button>
        </div>
    </div>
</div>
