/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}

.bg-pink {
    background-color:#FF66C4 !important;
}

.text-pink {
    color:#FF66C4 !important
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
