@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@font-face {
    font-family:Poppins;
    src: url(assets/font/Poppins-Regular.ttf);
}

.Poppins {
    font-family: 'Poppins', sans-serif;
}

html, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
}

.bg-pink {
    background-color:#FF66C4;
}

.nav-link {
    text-decoration:none;
}

.text-pink {
    color:#FF66C4;
}
